{% extends 'base.html.twig' %}

{% block content %}

    <table class="table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>Titre</th>
            <th>Auteur</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>

        {% for book in books %}
            <tr>
                <td>{{ book.getId }}</td>
                <td>{{ book.getTitle }}</td>
                <td>{{ book.getAuthor }}</td>
                <td>
                    <a class="btn btn-lg btn-info" href="/book/edit/{{ book.getId }}">Modifier</a>
                    <a class="btn btn-lg btn-danger" href="/book/delete/{{ book.getId }}">Supprimer</a>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

{% endblock %}